*.a
*.o
build/
target/
node_modules/
dist/
.vscode
bitcoinfuzz
!bitcoinfuzz/
bin/
obj/
*.dylib
*.so
*.jar
*.zip
__pycache__
main.py
pycoin_main.py
corpus/
.DS_Store

# Docker
docker/
*.log
.env
*.map

# crash reports
crash-*
